.orderSection {
  padding-top: 191px;
  display: flex;
  gap: 21px;
}
.overlay {
  background-image: url(/src/image/Order/order.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ordersDescription {
  font-size: 24px;
  max-width: 512px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.ordersTitle {
  font-size: 54px;
  line-height: 50px;
  color: #1b1b1d;
  font-weight: 700;
}
.orderImage {
  display: none;
}
@media only screen and (min-width: 768px) {
  .ordersTitle {
    font-size: 64px;
    line-height: 70px;
    color: #1b1b1d;
  }
  .orderImage {
    display: block;
  }
  .overlay {
    background-image: none;
  }
}
.orderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}
/* .orderSection {
  display: flex;
} */
/* TABLET STYLES */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
