/* .socialIcon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: red;
  fill: black
  ;
} */
.socialLink {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

/* .social-link:hover,
.social-link:focus{
background-color: var(--ocean);
transition: background-color 250ms var(--timing-function);
} */

.socialIcon {
  /* max-width: 16px; */
  fill: #48494a;
  color: black;
  /* background-color: blanchedalmond; */
}
