.border {
  -webkit-box-shadow: -2px 6px 14px -4px rgb(145, 143, 143);
  -moz-box-shadow: -2px 6px 14px -4px rgb(80, 78, 78);
  box-shadow: -2px 6px 14px -4px rgb(106, 105, 105);
}

.footerSection {
  display: flex;
  gap: 50%;
  margin-top: 50px;
  padding: 30px 20px;
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

/* TABLET STYLES */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
